In [1]:
from pyiron import Project

In [2]:
pr = Project("runner_fit")

In [3]:
pr_fit = Project("imported_datasets")

In [4]:
pr_fit.job_table()

,id,status,chemicalformula,job,subjob,projectpath,project,timestart,timestop,totalcputime,computer,hamilton,hamversion,parentid,masterid
0,12469639,finished,None,df1_A1_A2_A3_EV_elast_phon,/df1_A1_A2_A3_EV_elast_phon,/cmmc/u/,zora/pyiron/projects/PotentialWorkshop/import_database/Cu_database/,2021-02-18 19:49:53.061360,None,None,zora@cmti001#1,TrainingContainer,0.4,None,None
1,12469640,finished,None,df3_10k,/df3_10k,/cmmc/u/,zora/pyiron/projects/PotentialWorkshop/import_database/Cu_database/,2021-02-18 19:49:55.496691,None,None,zora@cmti001#1,TrainingContainer,0.4,None,None
2,12469641,finished,None,df2_1k,/df2_1k,/cmmc/u/,zora/pyiron/projects/PotentialWorkshop/import_database/Cu_database/,2021-02-18 19:49:56.101883,None,None,zora@cmti001#1,TrainingContainer,0.4,None,None
3,12469642,finished,None,df4_2_5eV_25A3_8K,/df4_2_5eV_25A3_8K,/cmmc/u/,zora/pyiron/projects/PotentialWorkshop/import_database/Cu_database/,2021-02-18 19:49:57.547918,None,None,zora@cmti001#1,TrainingContainer,0.4,None,None

In [5]:
import pyiron_contrib

In [6]:
j = pr.create.job.RunnerFit('fit', delete_existing_job=True)

In [7]:
j.add_job_to_fitting(pr_fit.load('df1_A1_A2_A3_EV_elast_phon'))

In [10]:
j.run()

The job fit was saved and received the ID: 13694249

In [11]:
j.potential_dataframe

,Name,Filename,Model,Species,Config
0,RuNNer-Cu,"[/cmmc/u/zora/pyiron/projects/PotentialWorkshop/runner-example/runner_fit/fit_hdf5/fit/input.nn, /cmmc/u/zora/pyiron/projects/PotentialWorkshop/runner-example/runner_fit/fit_hdf5/fit/weights.029.d...",RuNNer,[Cu],"[pair_style nnp dir ""./"" showew no showewsum 0 resetew no maxew 100 cflength 1.8897261328 cfenergy 0.0367493254 emap ""1:Cu""\n, pair_coeff * * 12\n]"